/* @theme tokyo-night */

@charset "UTF-8";

@import 'default';


section {
    justify-content: start;
    font-family: "Source Han Sans JP";
    background-color: #24283b;
    color: #9aa5ce;
    border-color: #24283b;
}

section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    width: 100px;
    height: 100px;
    background-color: #7dcfff;
    background: linear-gradient(90deg, #7dcfff 0%, #7aa2f7 50%);
}

section::after {
    color: #565f89;
    position: absolute;
    font-size: 20px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3%;
    text-align: right;
    white-space: pre-wrap;
    content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total)"   ";
    background: linear-gradient(90deg, #7dcfff, #7aa2f7, #bb9af7);
}

footer::before {
    white-space: pre-wrap;
    content: "   ";
}

footer {
    padding-bottom: 2px;
    font-size: 20px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 100;
    color: #565f89;
}

header {
    left: 78.5px;
    color: #565f89;
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #7aa2f7;
    font-weight: bold;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
    color: #7aa2f7;
    font-weight: bold;
}

a {
    color: #7aa2f7;
}

strong {
    font-weight: bold;
    color: #c0caf5;
}

code {
    background-color: #414868;
    color: #c0caf5;
}

pre {
    background-color: #414868;
    border-color: #24283b;
}

th {
    background-color: #414868;
    color: #c0caf5;
    border: 1px solid #9aa5ce !important;
}

td {
    border: 1px solid #9aa5ce !important;
    color: #9aa5ce;
    background-color: #24283b;
}


/*!
  Theme: Tokyo-night-Dark
  origin: https://github.com/enkia/tokyo-night-vscode-theme
  Description: Original highlight.js style
  Author: (c) Henri Vandersleyen <hvandersleyen@gmail.com>
  License: see project LICENSE
  Touched: 2022
*/

/*  Comment */
.hljs-meta,
.hljs-comment {
    color: #565f89;
}

/* Red */
/*INFO: This keyword, HTML elements, Regex group symbol, CSS units, Terminal Red */
.hljs-tag,
.hljs-doctag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-template-tag,
.hljs-selector-pseudo,
.hljs-selector-attr,
.hljs-variable.language_,
.hljs-deletion {
    color: #f7768e;
}

/*Orange */
/*INFO: Number and Boolean constants, Language support constants */
.hljs-variable,
.hljs-template-variable,
.hljs-number,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-link {
    color: #ff9e64;
}


/*  Yellow */
/* INFO:  	Function parameters, Regex character sets, Terminal Yellow */
.hljs-built_in,
.hljs-attribute {
    color: #e0af68;
}

/* cyan */
/* INFO: Language support functions, CSS HTML elements */
.hljs-selector-tag {
    color: #2ac3de;
}

/* light blue */
/* INFO: Object properties, Regex quantifiers and flags, Markdown headings, Terminal Cyan, Markdown code, Import/export keywords */
.hljs-keyword,
.hljs-title.function_,
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-subst,
.hljs-property {
    color: #7dcfff;
}

/*Green*/
/* INFO: Object literal keys, Markdown links, Terminal Green */
.hljs-selector-tag {
    color: #73daca;
}


/*Green(er) */
/* INFO: Strings, CSS class names */
.hljs-quote,
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
    color: #9ece6a;
}

/* Blue */
/* INFO:  	Function names, CSS property names, Terminal Blue */
.hljs-code,
.hljs-formula,
.hljs-section {
    color: #7aa2f7;
}



/* Magenta */
/*INFO: Control Keywords, Storage Types, Regex symbols and operators, HTML Attributes, Terminal Magenta */
.hljs-name,
.hljs-keyword,
.hljs-operator,
.hljs-keyword,
.hljs-char.escape_,
.hljs-attr {
    color: #bb9af7;
}

/* white*/
/* INFO: Variables, Class names, Terminal White */
.hljs-punctuation {
    color: #c0caf5
}

.hljs {
    background: #1a1b26;
    color: #9aa5ce;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}
